.header-top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30px;
}
.header-top-left{
    color: #29b078;
    white-space: nowrap;
}
.header-top-one{

}
@media (max-width: 990px) {
    .header-top-one{
        display: none;
        cursor: pointer;
    }
}
.header-top-right{
    display: none;
}
@media (max-width:990px ) {
    .header-top-right{
        display: block;
        cursor: pointer;
        align-items: right;
        margin: 0;
        color: #29b078;
    }
}

.navbar{
    background: #29b078 !important;

}
.nav-item{
    color: #ffffff !important;
}
.collapse{

}
.navbar-light .navbar-toggler{
    margin-left: 80%;
}
.logo{
    height: 49px;
    width: 107px;
    margin-left:50px;
}
.menu-button{
    display: none;
}
@media (max-width: 990px) {
    .menu-button{
        display: flex;
        justify-content: flex-end;
        height: 50px;
    }
}

.menu-text{
    display: none;
    position: absolute;
    color: white;
}
@media (max-width: 990px) {
    .menu-text{
        display: none;
        position: absolute;
        cursor: pointer;
        width: 100%;
        border: 0;
        background: #29b078;
        margin: 0;
        text-align: center;
        top: 65px;
    }
}
.demo{
    position: relative;
    text-decoration: none;

    color: #333;
}
.demo:before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: all .3s;
}
.demo:hover:before{
    width: 100%;
    left: 0;
    right: 0;
}
.picture{
    width: 100%;
}
.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle{
    background:none;!important;
}
.btn-secondary{
    background: none;!important;
}
.btn-secondary:hover{
    background: none;
}
.dropdown-toggle::after{
    color: black;
}
.btn:focus, .btn.focus{
    box-shadow: none;
}
.btn-secondary:focus, .btn-secondary.focus{
    box-shadow: none;
}
.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus{
    box-shadow: none;
}
.navbar.show{
    height: 20rem;
}
.top-picture{
    margin-top: 0;
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
}
.business-top{
    margin-top: 25px;
    margin-bottom: 25px;
}
.business-text{
    color: #29b078;
}
.center{
    margin: 0;
}
.center-left{
    border: 1px solid #dddddd;
    background-color: #ffffff;
    padding: 0;
    height: 50%;
}
.center-left-top{
    padding: 10px;
}
.center-left-bottom--top{
    border-top: 1px solid #dddddd;
}
.center-left-bottom{
   padding: 0;
    list-style-type: none;
}
.center-left-bottom-li{
    align-items: center;
    padding-top: 20px;
    padding-left: 10px;
    color: #26a26f;
}
.circle{
    border: 1px solid #fe6712;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    margin-right: 10px;
}
li:hover .circle {
    background-color: #fe6712;
}
.center-left-bottom-text{
    color: #26a26f;
}
li:hover .center-left-bottom-text{
    color: #fe6712;
    text-decoration: none;
}
.center-right-top-row{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dddddd;
    margin: 0;
}
.center-right-top-text{
    color: #b3b3b3;
    font-size: 13px;
}
.center-right-top-text-style{
    text-indent: 2em;
}
.center-right-text{
    text-indent: 2em;
    font-size: 13px;
    color: #b3b3b3;
    padding: 30px 70px 20px 70px;
}
.center-right-bottom{
    border: 1px solid #dddddd;
    background-color: #ffffff;
    padding: 0;
}
.tudouwang{
    width: 100%;
}
main{
    margin-bottom: 100px;
}

footer{
    background: #29b078;
}
.footer-text{
    color: #fff;
    line-height: 20px;
}
@media (max-width: 1199px) {
    .footer-text{
        text-align: center;
    }
}
.footer-text-left-border{
    border-right: 2px solid#ffffff;
    padding-right: 10px;
}
.footer-text-left-padding{
    padding-left: 10px;
}
.footer-text-col{
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer-text-col-left{
    margin-top: 45px;
}
@media (max-width: 1199px) {
    .footer-text-col-left{
        margin-top: 20px;
    }
}
.footer-text-hover{
}
.footer-text-hover:hover{
    text-decoration: underline solid#ffffff;
}
.footer-text-col-center{
    margin-bottom: 10px;
}
.wechat{
    text-align: right;
    padding-right: 16px;
}
@media (max-width: 1199px) {
    .wechat{
        text-align: center;
    }
}
.footer-bottom{
    text-align: center;
    height: 55px;
    color: #ffffff;
}